.essay_container {
    position: absolute;
}

.essay_content_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.essay_content {
    float: none;
    max-width: 70%;
    margin:  auto;
    padding: 20px;
}

.essay_sidebar_left {
    float: left;
    max-width: 100px;
    margin: 0 auto;
    padding: 20px;
}

.essay_sidebar_right {
    float: right;
    max-width: 100px;
    margin: 0 auto;
    padding: 20px;
}

footer {
    text-align: center;
    padding: 30px 0;
    background-color: #333;
    background-image: linear-gradient(to top, #333, #ccc);
    color: #fff;
}

.header {
    background-color: #666;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.header h1 {
    font-size: 36px;
}

.essay_info {

    margin: 20px;
    padding: 30px;
    border-radius: 10px;
}

.essay_main_info {
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    background-color: #999;
    text-indent: 30px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    word-wrap: break-word;
    text-align: justify;
    line-height: 30px;
}